<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <mea name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJS Page</title>
</head>

<body>
    <%- include('common/header'); %>
    <h1>Welcome <%= user.name %>
    </h1>
    <h1>Email is <%= user.email %>
    </h1>
    <h1>City is <%= user.city %>
    </h1>

    <h4 style="margin-left: 50px;">List of skills</h4>
    <% user.skills.forEach((item)=>{ %>
        <li style="margin-left: 50px;"><%= item %></li>
        <% }) %>
</body>

</html>